<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3"><%= BookData.volumeInfo.title %></h1>
        <span id="book-id"><h6 name="IdOfBook">Book Id: <%= BookData.id %></h6></span>
        <img class="book-image" src="<%= BookData.volumeInfo.imageLinks && BookData.volumeInfo.imageLinks.thumbnail %>" alt="No image">
        <br>
        <% if(BookData.saleInfo.buyLink != undefined){ %>
          <a href="<%= BookData.saleInfo.buyLink %>" class="btn btn-success">Buy Book</a>
          <% } else {%>
            <a class="btn btn-danger">Not For Sale</a>
            <% } %>
        <% if(BookData.volumeInfo.authors != undefined){ %>
        <p class="book-author">Authors: <% BookData.volumeInfo.authors.forEach(function(auth){ %>
            <%= auth %>,
           <% }) %> </p>
           <% } %>
        <h4 class="desc">Description:</h4> <%= BookData.volumeInfo.description %>
      <h4 class="review">Reviews:</h4>
      <div class="ReviewsReceived" style="display:inline-block">
          <% GeneratedRevs.forEach(function(rev){ %>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= rev.NameOfRev %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Rating:<%= rev.Rating %>/5</h6>
              <p class="card-text"><%= rev.DetailRev %></p>
            </div>
          </div>
          <% }) %>
      </div>
      <form action="/book/<%= BookData.id %>" method="POST">
      <button class="btn btn-primary" type="submit">Add a review</button>
      </form>     
      <a class="btn btn-secondary" role="button" href="/">Home</a>
    </div>
  </div>

<%- include('partials/footer') %>